CRYSTALLM_PI_API_URL=http://host.docker.internal:8000
WEBAPP_SHARED_DATA_HOST_DIR=/srv/crystallm-shared/data
WEBAPP_SHARED_OUTPUTS_HOST_DIR=/srv/crystallm-shared/outputs
RATE_LIMIT_RULE=5/minute;30/hour;100/day
