* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    color: #000;
    background: #fff;
    margin: 0;
}

#container {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    width: 740px;
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.58em;
    margin: 0;
    padding-bottom: 0.8em;
}

p, li {
    font-size: 1.4em;
}

p.credit {
	font-size: 0.9em;
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
}

/* links */

a {
    color: #1484bc;
    text-decoration: none;
}

a:hover {
    color: #407189;
    text-decoration: underline;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
    border-radius: 4px;
}

.header {
  overflow: hidden;
  background-color: #fbfbfb;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 10px;
}

.header::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 95px;
    opacity: 0.04;
    background-image: url('/assets/atoms.jpeg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #8c8c8c;
    pointer-events: none;
}


.header .logo {
    float: left;
}

.homelink {
    padding: 0 !important;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding-top: 40px;
  padding-right: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
}

.header a div {
    padding: 5px;
    border-radius: 4px;
}

.header a div:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

#content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.mtrls-button {
  background-color: #888eba;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 15px;
}

.mtrls-button:hover {
    cursor: pointer;
}

.mtrls-button:disabled {
    background-color: #dddddd;
}

.button {
  background-color: #888eba;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
}

.button:hover {
    cursor: pointer;
}

#file-upload-container {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

p.copyright {
    width: 100%;
    color: #777777;
    line-height: 40px;
    font-size: 0.7em;
    font-family: arial;
    text-align: center;
    bottom: 100px;
}

.termslink {
  	color: #3377c0 !important;
  	text-decoration: none;
}

.disclaimer {
    font-size: 21px;
    color: #aaa6a6;
}

#disclaimercontent {
    display: block;
    font-style: italic;
    font-size: 14px;
    width: 580px;
    margin: auto;
    color: #aaa6a6;
}

.error-message {
    color: red;
    padding-top: 10px;
}

#composition {
    height: 25px;
}

#spacegroup-container {
    width: 110px;
    margin: 0;
    display: inline-grid
}

#spacegroup-optional {
    color: #afabab;
    font-size: 11px;
    padding-left: 11px;
}

#spacegroup {
    width: 110px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

#formula-unit-container {
    width: 50px;
    margin: 0;
    display: inline-grid;
}

#formula-unit-optional {
    color: #afabab;
    font-size: 11px;
    padding-left: 4px;
}

#formula-unit {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    background-color: white;
    color: #afabab;
    padding: 3px;
    font-size: 12px;
    font-style: italic;
}

#cell-parameters {
    font-size: 12px;
    font-family: monospace;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 30px;
}

#model-version {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: rgb(150 147 147);
}

.Select-input {
    height: 25px !important;
}

.Select-control {
    height: 25px !important;
}

.Select-placeholder {
    line-height: 25px !important;
}

.Select--single>.Select-control .Select-value {
    line-height: 25px !important;
}

.returned-cif {
    color: gray;
    padding-left: 25px;
}

.returned-cif-details {
    padding-top: 10px;
}

.cif-summary {
    font-size: 0.9em;
}

.advanced-details {
    color: #afabab;
}

.advanced-options {
    font-size: 0.9em;
}

#model-size {
    width: 260px;
    font-size: 0.85em;
    display: inline-grid;
}

.model-size-label {
    font-size: 0.85em;
}

.dropdown-item {
    cursor: pointer;
    font-size: .875rem;
}

/* custom Dash app loader */
._dash-loading {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}

._dash-loading:before,
._dash-loading:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50px;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    color: rgb(189, 202, 245);
    transform: rotateX(70deg);
    animation: .1s spin linear infinite;
}

._dash-loading:after {
    color: #4c81b0;
    transform: rotateY(70deg);
    animation-delay: .1s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}
/* end custom Dash app loader */

/* progress bar */
#message-container {
    position: relative;
}

#progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    display: none;
}

#hidden-div {
    display: none;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}

.progress-bar {
    background-color: #e5e4e4;
    height: 15px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 25px;
    margin-right: 130px;
    border-radius: 5px;
}

.stripes {
    background-image: linear-gradient(
        45deg,
        rgba(255,255,255,.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255,255,255,.15) 50%,
        rgba(255,255,255,.15) 75%,
        transparent 75%,
        transparent
    );
    background-size: 1rem 1rem;
}

.stripes.animated {
    animation: animate-stripes 0.6s linear infinite;
}

.stripes.animated.slower {
    animation-duration: 2.85s;
}

.stripes.reverse {
    animation-direction: reverse;
}

.progress-bar-inner {
    display: block;
    height: 15px;
    width: 0%;
    background-color: #a9aec9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    position: relative;
}
/* end progress bar */

@media (max-width: 800px) {
    .header {
        width: 100%;
    }
    #container {
        margin: 0;
        width: 100%;
        padding: 2em;
    }
    #disclaimercontent {
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }
    #generated-structure-container > div:first-child {
        width: 300px !important;
        height: 300px !important;
    }
    .advanced-details {
        padding-top: 5px;
        color: #afabab;
    }
    #model-size {
        width: 230px;
        font-size: 0.85em;
        display: inline-grid;
        padding-bottom: 5px;
    }
    .progress-bar {
        width: 100%;
        margin-top: 13px;
        margin-bottom: 13px;
        margin-left: 0;
        margin-right: 0;
    }
}